.popup__input-error {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  margin: 5px 0 13px;
  position: relative;
  opacity: 0;
  transition: all .3s ease 0;
}

.popup__input-error:last-child {
  margin-bottom: 0;
}
