.profile__avatar {
  display: block;
  object-fit: cover;
  max-width: 120px;
  max-height: 120px;
  height: 100%;
  border-radius: 50%;
}

.profile__avatar:hover {
  cursor: pointer;
  opacity: .3;
  transition: opacity .3s ease-in;
}
